*{
    margin: 0;
    padding: 0;
}
.nav-container{
    height: 100vh;
    width: 18%;
    background-color:aqua;

}
.nav-content{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
   
}
.nav-data{
    width: 100%;
}
.nav-data ul li{
     
    margin-top: 23px;
    background-color: bisque;
    list-style: none;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
}

.media-nav{
  
    
}
.media-container{

    position: absolute;
    bottom: 0px;
    display: none;
    width: 100%;
    background-color: aqua;

}
.media-items{


}

@media screen and (max-width: 600px) {
    
    .media-nav{
        
        
    }
    .media-container{
    

        position: absolute;
        bottom: 0px;
        display: block;
        width: 100%;
        background-color: aqua;
    
    }
    .media-items{
    
    
    }
    .nav-container{
        display: none;
    }

    
}
