*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #4B371C;
    padding: 40px;
    position: sticky;
    top: 0px;
    width: 100%;
   color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: x-large;
    font-weight: 800;   
    position: sticky;
}
a{
    text-decoration: none;
    color: white;
    padding-bottom:20px;
    
}
.line{
    height: 2px;
    width: 70px;
    background-color: blue;
    position: absolute;
    left: 812px;
    margin-top: 26px;

}
.icon-ing{
    position: fixed;
    right: 80px;
    bottom: 80px;
    height: 100px;
    mix-blend-mode: multiply;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.box{
    height: 120vh;
}
.shop-cards{
    display: flex;
    justify-content: space-evenly;

}
.card1{
    background-color: brown;
    height: 50vh;
    width: 20vw;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(192, 186, 186);
}
.card1 img{
    width: 100%;
    border-radius: 20px;
    
 
}
.heading{
    text-align: center;
    font-weight: 600;
    margin: 60px;
    font-size: xx-large;


}