*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: aqua;
    padding: 40px;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: x-large;
    font-weight: 800;   
    position: sticky;
}
a{
    text-decoration: none;
}
.line{
    height: 2px;
    width: 70px;
    background-color: black;
    position: absolute;
    left: 812px;
    margin-top: 26px;

}
.icon-ing{
    position: fixed;
    right: 80px;
    bottom: 80px;
    height: 100px;
    mix-blend-mode: multiply;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.box{
    height: 120vh;
}