*{
    margin: 0;
    padding: 0;
}

.box{
     
    margin-top: 20vh;
    margin-left: 6vw;
    height: 60vh;
    width: 25vw;
    border: 2px solid black;
    border-radius: 30px;
    display: inline-block;
}
.box img{
    width: 23vw;
    height: 30vh;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}
button{
    border: none;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: larger;
    margin-top: 20px;
    margin-left: 20px;
    background: none;
    color: palevioletred;
    border: 3px solid palevioletred;
}
h3{
    text-align: justify;
    padding: 20px;
    margin-top: 10px;
}
